<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container" *ngIf="!enableCreate">
  <form>
    <button type="submit" class="btn btn-success" (click)="createPost()">Create Post</button>
  </form>
</div>

<div *ngIf="enableCreate">
  <app-create-post></app-create-post>
</div>


<div class="result">
  <h1>WordPress Created Posts Results</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let p of postData">
      <td>{{p.title.rendered}}</td>
      <td>{{p.content.rendered}}</td>
      <td>
        <button type="submit" class="btn btn-success" (click)="updatePost(p)">Update</button>
      </td>
      <td>
        <button type="submit" class="btn btn-success" (click)="deletePost(p)">Delete Post</button>
      </td>
    </tr>
  </table>
</div>

